# Editor files
.vscode/
*.code-workspace

# chaincode module
node_modules/
build/

# Network binaries
bin/
builders/

#node-modules
backend/node_modules
backend/.env

#CLI node-modules
frontendCLI/node_modules

#Logger
loki-data/
