image: node:20

stages:
  - test

test:
  stage: test
  script:
    - cd backend
    - npm ci
    - npm run lint
    - npm test
    - cd ../chaincode
    - npm ci
    - npm run lint
    - npm run build
    - npm run test
